@media (max-width: 1200px) {
  .home-container{
    height: 100vh;
    width: 100%;
  }

  
    .content h1 {
        font-size: 1.1rem;
        line-height: 1.2rem;
        margin-bottom: 1rem;
        position: relative;
        padding-bottom: 0.5rem;
        top: -100px;
        
        font-weight: 600;
        color: #D89C3A;
        

    }

    .content h1 > span {
      height: 100%;
      width: 100%;
        white-space: nowrap;
        line-height: 1.1rem;
        font-size: 1.1rem;
        font-weight: 600;
        display: flex;
        align-items: baseline;
    }

    .content p{
      
      font-size: 1.1rem;
      line-height: 1.2rem;
      margin-bottom: 1rem;
      position: relative;
      padding-bottom: 0.5rem;
      top: -100px;
      
      font-weight: 500;
    }

    .content p > span {
      height: 100%;
      width: 100%;
        white-space: nowrap;
        line-height: 1.1rem;
        font-size: 1.1rem;
        font-weight: 600;
        display: flex;
        align-items: baseline;
    }
  
    .content h2 {
      font-size: 1.1rem;
      line-height: 1.2rem;
      margin-bottom: 1rem;
      position: relative;
      padding-bottom: 0.5rem;
      top: -100px;
      
      font-weight: 500;
        

    }

    .content h2 > span {
      height: 100%;
      width: 100%;
        line-height: 1.1rem;
        font-size: 1.1rem;
        font-weight: 600;
        display: flex;
        
    }
    
  
    .btn {
      width: 100%;
      padding: 12px;
      font-size: 1rem;
      position: relative;
      top: 10px;
      margin-top: 1rem;
    }
  
    .container-sobre-img,
    .container-img-text {
      flex-direction: column;
      text-align: center;
    }
  
    .servicos .cards {
      grid-template-columns: 1fr;
    }

    .sobre-container{
        display: flex;
    }

    .sobre-imagem{
      display: none;
    }

    .sobre-texto{
     
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5rem;
    }

    .sobre-texto p{
      height: 100%;
      font-size: 1rem;
      line-height: 1.5rem;
      margin-bottom: 1rem;
      position: relative;
      padding-bottom: 0.5rem;
      top: -50px;
    }
    .sobre-texto span{
      height: 100%;
      width: 100%;
        white-space: nowrap;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 500;
    }



    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 1rem;
    }

    .card{
      width: 100%;
      height: 100%;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .titulo-endereco h1{
      line-height: 1.2rem;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      position: relative;
      padding-bottom: 0.5rem;
      top: 120px;
    }

    .endereco-texto{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
      position: relative;
      
    }

    .endereco p{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;

      font-size: 1rem;
      line-height: 1.2rem;
      margin-bottom: 1rem;
      position: relative;
      padding-bottom: 0.5rem;
      top: -50px;
    }

    .endereco .rua{
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      position: relative;
      top: 30px;
    }
    .endereco .cell{
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      position: relative;
      top: 30px;
    }



    .footer-texto{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
      position: relative;
    }
    .footer-texto p{
      width: 100%;
    }
   
  }

